streamlit
langchain
langchain-groq
chromadb
sentence-transformers
transformers
scikit-learn
pandas
numpy
torch==2.1.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
nltk
pdfplumber
python-dotenv
